@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.container {
  width: min(calc(100% - 32px), 1240px);
  margin: 0 auto;
}

@include up($bp-md) {
  .container {
    width: min(calc(100% - 40px), 1240px);
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box !important;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
